<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
      <div class="form-row">  
        <div class="col">
          <%= form.label :firstName %>
          <%= form.text_field :firstName, :class => "form-control", placeholder: 'First Name' %>
        </div>
        <div class="col">
          <%= form.label :lastName %>
          <%= form.text_field :lastName, :class => "form-control", placeholder: 'Last Name' %>
        </div>
      </div>
    </div>
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
  </div>
<% end %>
