<h1 class="py-2"><%= @student.firstName %> <%= @student.lastName %></h1>

<ul class="nav nav-tabs my-3">
  <li class="nav-item" data-label="General">
    <a class="nav-link active" href="#">General</a>
  </li>
  <li class="nav-item" data-label="Ranks">
    <a class="nav-link" href="#">Ranks</a>
  </li>
  <li class="nav-item" data-label="Transactions">
    <a class="nav-link" href="#">Transactions</a>
  </li>

</ul>

<div class="tab-content">
  <div class="tab-pane fade show active general">
    <%= render 'form', student: @student %>
  </div>
  <div class="tab-pane fade show ranks" aria-labelledby="ranks">
    <% if @student.ranks.length === 0 %>
      <div class="d-flex justify-content-between">
        <h1>No Ranks</h1>
        <button class="btn btn-primary">Add Rank</button>
      </div>
      <div class="row">
        <div class="col-4">
          <%= form_for @student, :url => new_student_rank_path(@student) do |f| %>
            <%= f.fields_for :rank do |r| %>
              <div class="form-group">
                <%= r.label :name %>
                <%= r.select :name, @ranks.map { |rank| [rank.name, rank.order] }, {}, :class => 'form-control'%>
              </div>
              <% end %>
            <%= f.submit 'Submit', :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Type</th>
            <td>Score</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @student.ranks.each do |rank| %>
            <tr>
              <td><%= rank.name %> <% if rank.total.to_i < 7 && !@student.ranks.first %>(No Change)<% end %></td>
              <td><%= rank.rankType %></td>
              <td><%= rank.total %></td>
              <td><%= rank.created_at.strftime("%m/%d/%Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="tab-pane fade show transactions">
    <% if @student.transactions.length === 0 %>
      <div class="d-flex justify-content-between">
        <h1>No transactions</h1>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Masked Card</th>
            <th>Amount</th>
            <th>Tax</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @student.transactions.each do |t| %>
            <tr>
              <td><%= t.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= t.maskedPan %></td>
              <td><%= number_to_currency(t.total) %></td>
              <td><%= t.tax ? "Yes" : "No" %></td>
              <td>
                <i class="fas fa-receipt pointer" title="Send Receipt"></i>
                <i class="fas fa-clipboard-list pointer" title="Items"></i>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

