<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td scope="col"><%= student.firstName %> <%= student.lastName %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, :class => "btn btn-primary" %>
