<div class="d-flex flex-row mb-3">
  <div class="justify-content-start">
    <h1>Testings</h1>
  </div>
  <div class="align-self-center ml-auto">
    <%= link_to 'New Testing', new_testing_path, :class => "btn btn-primary" %>
  </div>
</div>
<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @testings.each do |testing| %>
      <tr>
        <td scope="col"><%= testing.date.strftime("%m/%d/%Y") %></td>
        <td><%= testing.status ? "Active" : "Completed " %></td>
        <td>
          <%= link_to testing_path(testing), title: 'Process' do %>
            <i class="fas fa-sliders-h"></i>
          <% end %>
          <% if testing.status %>
            <%= link_to edit_testing_path(testing), title: 'Edit' do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to testing_path(testing), method: :delete,  title: 'Delete' do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>