<h1>Score Sheet</h1>
<% if @testing.status === true %>
  <%= form_for @testing, :url => url_for(:controller => "testings", :action => "processing"), method: "post" do |f| %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="twenty">Name</th>
            <th scope="col">Forms</th>
            <th scope="col">Weapons</th>
            <th scope="col">Boards</th>
            <th scope="col">Sparring</th>
            <th scope="col">Fit</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <%= f.fields_for :participants do |c, index| %>
              <tr id="student-<%= c.index %>">
                <td class="twenty">
                  <%= c.text_field :firstName, disabled: true %>
                </td>
                <td>
                  <%= c.number_field :form, class: "formValue-#{c.index} scores-#{c.index}",  disabled: !c.object.categories.include?('f') %>
                </td>
                <td>
                  <%= c.number_field :weapon, class: "weaponValue-#{c.index} scores-#{c.index}",  disabled: !c.object.categories.include?('w') %>
                </td>
                <td>
                  <%= c.number_field :boardBreak, class: "boardBreakValue-#{c.index} scores-#{c.index}", disabled: !c.object.categories.include?('b') %>
                </td>
                <td>
                  <%= c.number_field :sparring, class: "sparringValue-#{c.index} scores-#{c.index}",  disabled: !c.object.categories.include?('s') %>
                </td>
                <td>
                  <%= c.number_field :fit, class: "fitValue-#{c.index} scores-#{c.index}" %>
                </td>
                <td>
                  <%= c.number_field :total, :class => "total-#{c.index}", disabled: true %>
                </td>
              </tr>
              <%= c.hidden_field :student_id%>
              <script>
              function findTotal<%= c.index %>(){
                  var array = document.querySelectorAll('.scores-<%= c.index %>');
                  var total = 0;
                  for(var i=0; i < array.length; i++) {
                      if(parseInt(array[i].value))
                          total += parseInt(array[i].value);
                  }
                  document.querySelector(".total-<%= c.index %>").value = total;
                }
                var row = document.getElementById("student-<%= c.index %>");
                var scores = [
                                row.querySelector(".formValue-<%= c.index %>"), 
                                row.querySelector(".weaponValue-<%= c.index %>"), 
                                row.querySelector(".boardBreakValue-<%= c.index %>"), 
                                row.querySelector(".sparringValue-<%= c.index %>"),
                                row.querySelector(".fitValue-<%= c.index %>")
                              ];
                findTotal<%= c.index %>()
                for(var i = 0; i < scores.length; i++) {
                  scores[i].addEventListener('change', function(e) {
                    findTotal<%= c.index %>();
                  })
                }
              </script>
            <% end %>
        </tbody>
      </table>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end%>
<% else %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th class="twenty">Name</th>
          <th scope="col">Forms</th>
          <th scope="col">Weapons</th>
          <th scope="col">Boards</th>
          <th scope="col">Sparring</th>
          <th scope="col">Fit</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
          <% @testing.participants.each do |c| %>
            <tr>
              <td><%= c.firstName %></td>
              <td><%= c.form %></td>
              <td><%= c.weapon %></td>
              <td><%= c.boardBreak %></td>
              <td><%= c.sparring %></td>
              <td><%= c.fit %></td>
              <td><%= c.total %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
<% end%>

