<h1>Score Sheet</h1>
<% if @testing.status === true %>
  <%= form_for @testing, :url => url_for(:controller => "testings", :action => "processing"), method: "post" do |f| %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="twenty">Name</th>
            <th scope="col">Forms</th>
            <th scope="col">Weapons</th>
            <th scope="col">Boards</th>
            <th scope="col">Sparring</th>
            <th scope="col">Fit</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <%= f.fields_for :participants do |c, index| %>
              <tr id="student-<%= c.index %>">
                <td class="twenty">
                  <%= c.text_field :firstName, disabled: true %>
                </td>
                <td>
                  <%= c.number_field :form, value: 2, :class => "formValue", disabled: !c.object.categories.include?('f') %>
                </td>
                <td>
                  <%= c.number_field :weapon, value: 3, :class => "weaponValue", disabled: !c.object.categories.include?('w') %>
                </td>
                <td>
                  <%= c.number_field :boardBreak, :class => "boardBreakValue", disabled: !c.object.categories.include?('b') %>
                </td>
                <td>
                  <%= c.number_field :sparring, :class => "sparringValue", disabled: !c.object.categories.include?('s') %>
                </td>
                <td>
                  <%= c.number_field :fit, :class => "fitValue" %>
                </td>
                <td>
                  <%= c.number_field :total, :class => "total", disabled: true %>
                </td>
              </tr>
              <%= c.hidden_field :student_id%>
              <script>
                var row = document.getElementById("student-<%= c.index %>");

                var scores = [parseInt(row.querySelector(".formValue").value) || 0, 
                              parseInt(row.querySelector(".weaponValue").value) || 0, 
                              parseInt(row.querySelector(".boardBreakValue").value) || 0, 
                              parseInt(row.querySelector(".sparringValue").value) || 0,  
                              parseInt(row.querySelector(".fitValue").value) || 0];
                var total = row.querySelector(".total");
                total.value = scores.reduce((a,b) => a + b, 0 );

                // function calculateTotal(value, total) {
                //   console.log(`value: ${value}, total: ${total}`)
                //   if(value)
                //     return total += value
                // }

                // function setValues(row) {
                //   row.forEach(x => {
                //     var total;
                //     if(x.childNodes && x.childNodes.length) {
                //       var list = Array.from(x.childNodes);
                //       if(list && list.length) {
                //         var test = list.find(x => x.className == 'total')
                //         if(test)
                //           total = test.value
                //       }
                //     }
                //     console.log(total)
                //   })
                // }
                // var score = 0;
                // setValues(row)

                // row.forEach(x => {
                //   if(x.childNodes.length) {
                //       a.addEventListener('input', function(e) {
                //         total.value = calculateTotal(e.data, total.value)
                //         var previous = score;
                //         if(e.data) {
                //           total.value = score + parseInt(e.data);
                //         } else {
                //           if(e.data)
                //             score = score + parseInt(e.data);
                //           total.value = previous;
                //           }
                //       })
                //     }
                //     if(total)
                //       total.value = score
                // })
              </script>
            <% end %>
        </tbody>
      </table>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end%>
<% else %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th class="twenty">Name</th>
          <th scope="col">Forms</th>
          <th scope="col">Weapons</th>
          <th scope="col">Boards</th>
          <th scope="col">Sparring</th>
          <th scope="col">Fit</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
          <% @testing.participants.each do |c| %>
            <tr>
              <td><%= c.firstName %></td>
              <td><%= c.form %></td>
              <td><%= c.weapon %></td>
              <td><%= c.boardBreak %></td>
              <td><%= c.sparring %></td>
              <td><%= c.fit %></td>
              <td><%= c.total %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
<% end%>

