<h1>Statis: <%= @testing.status ? "Active" : "Inactive" %></h1>
<h2><%= @testing.date.strftime("%m/%d/%Y") %></h2>
<p id="notice"><%= notice %></p>

<% if @student.length > 0 %>
  <%= form_with(model: [@testing, @testing.participants.build], local: true) do |form| %>

    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <%= form.label :student_id %>
          <%= form.select(:student_id, options_for_select(@student.map {|student| [ student.firstName + " " + student.lastName, student.id]}), {}, :id => "name", :class => "form-control") %>
        </div>
        <div class="col">
          <%= form.collection_check_boxes(:categories, {'Form': 'f', 'Sparring': 's', 'Weapons': 'w', 'Board Breaks': 'b'}, :last, :first) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.check_box class: 'form-check-input' %>
              <%= b.label class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= form.hidden_field :firstName, value: @firstStudent.firstName, :id => "firstName" %>
    <%= form.hidden_field :lastName, value: @firstStudent.lastName, :id => "lastName" %>
    <div class="form-group">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>

    <script>
      var name = document.getElementById('name')
      document.addEventListener('input', function(event) {
        var name = event.target.options[event.target.selectedIndex].text;
        var test = name.split(' ');
        document.getElementById('firstName').value = test[0];
        document.getElementById('lastName').value = test[1];
      })
    </script>

  <% end %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Tested</th>
      <% if @testing.status != false %>
        <th>Remove</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @testing.participants.each do |participant| %>
    <tr>
      <td><%= participant.firstName %> <%= participant.lastName %></td>
      <td><%= participant.rank ? participant.rank : "NA" %></td>
      <td><%= participant.total ? "Yes" : "No" %></td>
      <% if @testing.status != false %>
        <td>
          <%= link_to 'Remove', [participant.testing, participant], method: :delete,:class => 'btn btn-danger', data: { confirm: 'Are you sure?'} %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_testing_path(@testing), class: "btn btn-primary" %> 
<% if @testing.status === true %>
  <%= link_to 'Process', testing_scores_path(@testing), class: "btn btn-info" %>
<% else %>
  <%= link_to 'View', testing_scores_path(@testing), class: "btn btn-info" %>
<% end %>