<div class="d-flex flex-row mb-3">
  <div class="justify-content-start">
    <h1>Available Ranks</h1>
  </div>
  <div class="align-self-center ml-auto">
    <%= link_to 'New Rank', new_available_rank_path, :class => "btn btn-primary" %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= rank.name %></td>
        <td><%= rank.order %></td>
        <td>
          <%= link_to edit_available_rank_path(rank), title: "edit rank" do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to edit_available_rank_path(rank), method: :delete, title: "delete rank" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

