<h1 class="text-center">Online Waiver</h1>
<div class="container px-5">
  <form class="mx-5">
    <h3>Student Info</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label>First Name</label>
          <input readonly class="form-control-plaintext" value="<%= @student.firstName %>" />
        </div>
        <div class="col">
          <label>Last Name</label>
          <input readonly class="form-control-plaintext" value="<%= @student.lastName %>" />
        </div>
        <% if @primaryEmail %>
          <div class="col">
            <label>Email</label>
            <input readonly class="form-control-plaintext" value="<%= @primaryEmail.email %>" />
          </div>
        <% end %>
      </div>
      <% if @primaryAddress != nil %>
        <div class="form-row">
          <div class="col">
            <label>Address</label>
            <input readonly class="form-control-plaintext" value="<%= @primaryAddress.street1 %>" />
          </div>
          <div class="col">
            <label>City</label>
            <% if @primaryAddress.city %>
              <input readonly class="form-control-plaintext" value="<%= @primaryAddress.city %>"/>
            <% else %>
              <br>
              <i class="fa fa-ban text-secondary" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="col">
            <label>State</label>
            <input readonly class="form-control-plaintext" value="<%= @primaryAddress.state %>"/>
          </div>
        </div>
      <% end %>
    </div>
  </form>
  <hr>
  <p>
    In consideration for my attendance and participation in this academy's martial arts training. I, the student/parent acknowledge  the existence od certain inherent risks in the type of training and hereby agree to assume all risks.
    I further relieve the academy, it's management, assigned staff, and fellow stidemts from any liability resulting from personal injury or loss of personal belongings. I also hereby state that the student named above is physically fit to take ther prescribed course of instruction 
    and does so of their own free will.
  </p>
  <%= form_with(model: @student, local: true, html: { class: "d-flex flex-column justify-content-center" }, :url => url_for(:controller => "waivers", :action => "create"), method: "post") do |student| %>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <%= student.label :guardianFirstName, "Guardian's First Name" %>
          <%= student.text_field :guardianFirstName, :class => "form-control" %>
        </div>
        <div class="col">
          <%= student.label :guardianLastName, "Guardian's Last Name" %>
          <%= student.text_field :guardianLastName, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-check">
      <%= student.check_box :waiver, :class => "form-check-input" %>
      <label class="form-check-label">By checking this you acknowledge you have read the terms and agree</label>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Skip", edit_student_path(@student.id), :class => "btn btn-danger w-25 mx-2" %>
      <%= student.submit "Submit", class: "btn btn-primary w-25 mx-2" %>
    </div>
  <% end %>
</div>