<!DOCTYPE html>
<html>
  <head>
    <title>MA Vue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d4f7d7aee4.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">MA Vue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
            <%= link_to "PoS", new_pos_record_path, :class => "nav-link" %>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/">Testings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to "Students", students_path, :class => "nav-link" %>
            </li> 
          </ul>
          <ul class="nav dropdown">
              <a class="nav-link dropdown-toggle">Settings</a>
              <div class="dropdown-menu d-none">
                <li class="dropdown-item">
                  <%= link_to "Ranks", available_ranks_path, :class => "dropdown-link" %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "Inventory", inventory_index_path, :class => "dropdown-link" %>
                </li>
                <li class="dropdown-item">
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                </li>
              </div>
            </ul>
        </div>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
